h3{
    background-color: #2eac3f;
}

h1{
    background-color: #2e73ac;
}

h2{
    text-align: center;
}

.card1{
    width: 400px;
    background-color: cadetblue;
    display: inline-block;
  
}

.card2{
    width: 400px;
    background-color: cadetblue;
    display: inline-block;
  
}

.img1{
    width: 110px;
    height: 110px;
    margin: -70px auto 12px;
    display: block;
    border-radius: 50%;
    object-fit: cover;

}

.card1{
    width: 93px;
    height: 93px;
    margin: -70px auto 12px;
    display: block;
    border-radius: 50%;
    object-fit: cover;


}



##.img2{
    width: 175px;
    margin: 0 auto;
    display: block;

}##