* {

    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    height: 62px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #d8993b;
    padding: 25px;
}

header span {
    font-size: 20px;
    font-weight: 700;
}

header span.pt1 {
    color: #3C2313;
}

header span.pt2 {
    color: rgb(243, 183, 183)
}

header li {
    display: inline;
    list-style-type: none;
    color: rgb(221, 152, 152);
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
}

.first-section {

    background-image: url(https://petcaesecia.fbitsstatic.net/img/b/364e499d-431c-4da2-b8cb-4a0048044658.png);
    background-position: left;
    background-size: cover;
    height: 409px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.first-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section div h1 {

    background-color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 30px;
    color: #3C2313;
    margin: 10px;

}

.first-section div p {

    font-size: 16px;
    font-weight: 400;
    color: #3C2313;
    margin-left: 10px;

}

.first-section div button {
    background-color: #d8993b;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 60px;
    margin: 10px;
}